/*Global*/
body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #fafafa;
}

header {
  width: 100%;
  min-height: 530px;
  color: #fafafa;
  background-image: url("https://images.pexels.com/photos/4992673/pexels-photo-4992673.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  object-fit: cover;
}

.title {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  padding: 16px 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav div .nav-title {
  font-family: 'Dancing Script', cursive;
  color: #d6a812;
  padding-left: 16px;
}

nav div ul {
  list-style: none;
}

nav div ul li {
  display: inline;
}

nav div ul li a {
  color: #fafafa;
  text-decoration: none;
  font-weight: 900;
  padding-right: 8px;
}

.page-title {
  display: flex;
  text-align: center;
  align-content: space-around;
  flex-direction: column;
  gap: 32px;
}

.page-title h1, .page-title h2, .page-title a {
  margin-top: 45px;
}

.page-title h1 {
  font-size: 52px;
}

.page-title h2 {
  font-size: 38px;
}

.btn {
  padding: 12px 16px;
  background-color: #d6a812;
  color: #fafafa;
  text-decoration: none;
  border-radius: 7%;
}

main {
  padding-top: 60px;
}

.section-title {
  display: flex;
  text-align: center;
  align-content: space-around;
  flex-direction: column;
  padding-bottom: 38px;
}

.section-title h2 {
  font-weight: 800;
}

.section-title h3 {
  color: #444444;
}

.section {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-bottom: 48px;
  flex-wrap: wrap;
  padding-bottom: 9%;
}

.section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100vw;
  flex-wrap: wrap;
}

.section .container .services {
  width: 20%;
  padding: 0 4%;
}

.section .container .services i {
  font-size: 26px;
  color: #fafafa;
  background-color: #d6a812;
  padding: 12px;
  border-radius: 50%;
}

.section .container .portfolio {
  width: 28%;
  padding-bottom: 6%;
}

.section .container .portfolio img {
  height: 300px;
  width: 90%;
  object-fit: cover;
}

.section .container .portfolio h4 {
  color: #444444;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

footer .copyright {
  color: #444444;
  font-size: 12px;
}

footer .copyright i {
  font-size: 10px;
  padding-right: 4px;
}

footer .icons i {
  font-size: 28px;
  padding-right: 16px;
  color: #d6a812;
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    min-height: 430px;
  }
  .title {
    font-weight: 600;
    padding: 14px 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav div .nav-title {
    padding-left: 14px;
  }
  nav div ul li a {
    font-weight: 800;
    padding-right: 6px;
  }
  .page-title {
    gap: 26px;
  }
  .page-title h1, .page-title h2, .page-title a {
    margin-top: 40px;
  }
  .page-title h1 {
    font-size: 48px;
  }
  .page-title h2 {
    font-size: 34px;
  }
  .btn {
    padding: 10px 14px;
  }
  main {
    padding-top: 50px;
  }
  .section-title {
    padding-bottom: 34px;
  }
  .section-title h2 {
    font-weight: 700;
  }
  .section {
    padding-bottom: 44px;
    padding-bottom: 9%;
  }
  .section .container {
    max-width: 100vw;
  }
  .section .container .services {
    width: 40%;
    padding: 0 4%;
  }
  .section .container .services i {
    font-size: 24px;
    padding: 10px;
  }
  .section .container .portfolio {
    width: 45%;
    padding-bottom: 6%;
  }
  .section .container .portfolio img {
    height: 300px;
    width: 90%;
  }
}

@media (max-width: 767px) {
  header {
    min-height: 380px;
  }
  .title {
    padding: 12px 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav div .nav-title {
    padding-left: 12px;
  }
  nav div ul li a {
    padding-right: 5px;
  }
  .page-title {
    gap: 24px;
  }
  .page-title h1, .page-title h2, .page-title a {
    margin-top: 30px;
  }
  .page-title h1 {
    font-size: 44px;
  }
  .page-title h2 {
    font-size: 32px;
  }
  .btn {
    padding: 8px 12px;
  }
  main {
    padding-top: 40px;
  }
  .section-title {
    padding-bottom: 26px;
  }
  .section {
    padding-bottom: 38px;
  }
  .section .container {
    max-width: 95vw;
  }
  .section .container .services {
    width: 90%;
  }
  .section .container .services i {
    font-size: 20px;
    padding: 8px;
  }
  .section .container .portfolio {
    width: 90%;
    padding-bottom: 6%;
  }
  .section .container .portfolio img {
    height: 260px;
    width: 90%;
  }
}
